<table class="table">
    <thead>
        <tr>
            <th>Betrag</th>
            <th>Gebucht von</th>
            <th>Zeitpunkt</th>
            <th>Kommentar</th>
        </tr>
    </thead>
    <tbody *ngIf="o | async; let vs">
        <tr *ngFor="let v of vs">
            <td>{{v.paymentReceived}}</td>
            <td>{{v.paymentBookedBy}}</td>
            <td>{{timestring(v)}}</td>
            <td>{{v.comment}}</td>
        </tr>
      <ng-template #loading><div class="loader"></div></ng-template>
    </tbody>
</table>
