<div class="card-block table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Anfragezeitpunkt</th>
                <th>Sprachen</th>
                <th>Status</th>
                <th>übernommen von</th>
                <th>angefragt von</th>
                <th>Kontaktdaten</th>
                <th>Zeitpunkt</th>
                <th>Anlass</th>
            </tr>
        </thead>
        <tbody *ngIf="o | async; let vs">
            <tr *ngFor="let v of vs">
                <td><a [routerLink]="['/request/edit/', v.requestIdentifier]">{{v.requestIdentifier}}</a></td>
                <td>{{timestringCreate(v)}}</td>
                <td>{{languages(v)}}</td>
                <td>{{v.state}}</td>
                <td>{{v.acceptedByVolunteer}}</td>
                <td>TODO</td>
                <td><a href="mailto:{{v.email}}">{{v.email}}</a> | {{v.phone}}</td>
                <td>{{timestring(v)}}</td>
                <td>{{address(v)}}<br>{{v.ocation}}</td>
            </tr>
          <ng-template #loading><div class="loader"></div></ng-template>
        </tbody>
    </table>
</div>
