<app-page-header [heading]="'Vorgang'" [icon]="'fa-address-card'"></app-page-header>


<div class="container" *ngIf="model">
    <a class="btn btn-link" [routerLink]="['/dashboard']">Zurück</a>
    <button *ngIf="model.state == 'offen' || model.state == 'angenommen'" class="btn btn-outline-danger" mwlConfirmationPopover title="Stornieren" message="Soll diese Anfrage wirklich storniert werden?" confirmText="Stornieren" cancelText="Abbrechen" placement="bottom"
      (confirm)="cancel()">
        <i class="fa fa-fw fa-remove"></i>&nbsp;Stornieren
    </button>

    <div class="row pt-2">
        <div class="col">
            <div class="card">
                <div class="card-header">Vorgang</div>
                <div class="card-block p-2">
                    <div class="row">
                        <div class="col-5">Nummer</div>
                        <div class="col-7"><b>{{ model.requestIdentifier }}</b></div>
                    </div>
                    <div class="row">
                        <div class="col-5">Status</div>
                        <div class="col-7">{{ model.state }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Sprache(n)</div>
                        <div class="col-7">{{ languages(model) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Datum</div>
                        <div class="col-7">{{ timestring(this.model) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Erstellungsdatum</div>
                        <div class="col-7">{{ timestringCreate(this.model) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Anlass</div>
                        <div class="col-7">{{ model.occasionString }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Straße</div>
                        <div class="col-7">{{ model.street }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">PLZ</div>
                        <div class="col-7">{{ model.postalCode }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Stadt</div>
                        <div class="col-7">{{ model.city }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">E-Mail</div>
                        <div class="col-7"><a href="mailto:{{ model.email }}">{{ model.email }}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-5">Telefonnummer</div>
                        <div class="col-7">{{ model.phone }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Name</div>
                        <div class="col-7">{{ model.requesterName }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Institution</div>
                        <div class="col-7">{{ model.requesterInstitution }}</div>
                    </div>
                    <div class="row">
                        <div class="col-5">Übernommen von</div>
                        <div class="col-7"><b>{{ model.acceptedByVolunteer }}</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col">
            <feedback [requestId]="model.requestIdentifier"></feedback>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">Vorgangsanfragen</div>
                <div class="card-block table-responsive table-sm px-2">
                    <voucher-list-single [requestId]="model.requestIdentifier"></voucher-list-single>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-4" *ngIf="userService.isFinanceUser()">
        <div class="col">
            <div class="card">
                <div class="card-header">Aufwandsentschädigungen</div>
                <div class="card-block table-responsive table-sm px-2">
                    <payment-list-single [requestId]="model.requestIdentifier"></payment-list-single>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-4" *ngIf="userService.isFinanceUser()">
        <div class="col">
            <div class="card">
                <div class="card-header">Aufwandsentschädigung buchen</div>
                <div class="card-block p-2">
                    <div class="form-group">
                        <label for="paymentAmount" class="col-form-label">Betrag</label>
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon">€</div>
                            <input required type="number" step="5" ng-maxlength="1000" class="form-control" name="paymentAmount" id="paymentAmount" [(ngModel)]="paymentAmount">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="paymentComment" class="col-form-label">Kommentar</label>
                        <input class="form-control" name="paymentComment" id="paymentComment" [(ngModel)]="paymentComment">
                    </div>

                    <button [disabled]='canNotPlacePayment()' class="btn btn-success mt-1" (click)='placePayment()'>Buchen</button>
                </div>
            </div>
        </div>
    </div>

</div>
